#bannerimage {
  border:5px solid #C18FEE;
  border-radius: 30px;
  margin-center: 30px;
  padding: 3px;
  background-color: #FFE781;
  font-family: timesnewroman;
  float:center;
}

.box {
  border:3px solid #C18FEE;
  border-radius: 30px;
  margin-center: 30px;
  padding: 3px;
  background-color: #ffd1fd;
  font-family: timesnewroman;
  float:center;
}


/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 30%;
    width: 150px;
    background-color: #be8cf5;
    padding-top: 20px;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

.navbar li {
    margin: 20px 0;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #FFD700; /* Change to gold on hover */
    color: orange;
}

/* Section styling */
.section {
    margin-left: 200px; /* Space for the fixed navbar */
    padding: 20px;
    min-height: 80vh;
}



#intro
{
  padding-left:120px;
}


.contact-container {
 margin-left: 200px;
 padding: 20px;
  
}












 #text {
font-size:150%;

}
