#bannerimage {
  border:5px solid #C18FEE;
  border-radius: 20px;
  margin-center: 20px;
  padding: 3px;
  background-color: #FFE781;
  font-family: timesnewroman;
  float:center;
}

  background-position: center;
}
